.blog-text h3 {
    margin-left: 30px;
    font-size: 40px;
    font-weight: bold;
}

blockquote {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

blockquote cite {
    margin-top: 30px;
    font-size: 18px;
}

figure {
    text-align: center;
    margin-top: 40px;
}

figure img {
    width: 97%;
}

figcaption {
    margin-top: 20px;
    font-size: 30px;
}


.blog-text ul {
    margin: 30px 0px 30px 30px;
    list-style: none;
    display: flex;
}

.blog-text p {
    font-size: 20px;
    margin: 50px 30px;
}

@media (max-width: 650px) {
    blockquote {
        margin: 30px 10px;
    }
}