nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 30px 50px 0px 0px;
    list-style: none;
}

.nav-button {
    border: none;
    background-color: #2e54ad;
    padding: 20px;
    width: 150px;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: aliceblue;
    cursor: pointer;
}


nav a {
    text-decoration: none;
}

nav h1 a:hover {
    color: #2e54ad;
}

nav a:visited {
    text-decoration: none;
    color: #092768;
}


.orange {
    color: rgb(255, 132, 16);
    font-size: 45px;
    margin: 20px 0px 80px 0px;
    text-align: center;
}

h1 {
    font-size: 60px;
    margin: 20px 40px;
    color: #092768;
}

@media (max-width: 900px) {
    h1 {
        text-align: center;
    }

    .orange {
        text-align: center;
    }
}

@media (max-width: 720px) {

    nav ul {
        display: none;
    }
}