nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav p {
    align-self: center;
    justify-self: center;
}

.orange {
    color: rgb(255, 132, 16);
    font-size: 45px;
    margin: 20px 0px 80px 0px;
}

h1 {
    font-size: 60px;
    margin: 20px 40px;
    color: #091225;
}

@media (max-width: 900px) {
    h1 {
        text-align: center;
    }

    .orange {
        text-align: center;
    }
}